.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .button-action {
        background: transparent;
        cursor: pointer;
        border: 0;
        outline: none;
        margin: 0 5px;
        transition: all 0.3s ease;
        color: rgb(146, 146, 146);
        &:hover {
            color: #fff;
        }
        &.play {
            transform: scale(1.5);
        }
        .material-icons {
            font-size: 30px;
        }
    }
}