@import '../../../assets/styles/variables';

.block-music-current {
    display: flex;
    align-items: center;
    max-width: 320px;
    justify-content: center;
    .music-current {
        display: flex;
        color: #fff;
        align-items: center;
        text-decoration: none;
        justify-content: flex-start;
        .text {
            color: #fff;
            margin: 0 10px;
            h5 {
                margin: 0;
                &:hover {
                    text-decoration: underline;
                }
            }
            small {
                opacity: 0.65;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}