@import '../../assets/styles/_variables';

.sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0,0,0, 0.95);
    grid-template-rows: 50px 100px 50px 150px;
    background-color: rgba(0,0,0,.8);
    overflow-y: auto;
    width: 230px;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    will-change: transform;
    svg {
        margin-bottom: 1rem;
    }
}