@import '../../../assets/styles/variables';

.volume-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    .button-state {
        background: transparent;
        border: 0;
        margin: 0;
        color: rgba(255, 255, 255, 0.747);
        cursor: pointer;
        i {
            font-size: 22px;
        }
        &:hover {
            color: #ffffff;
        }
    }
    .bar {
        height: 5px;
        position: relative;
        background: rgba(15, 15, 15, 0.596);
        border-radius: 30px;
        width: 100%;
        .range-input {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            top: -1px;
            cursor: pointer;
            z-index: 5;
            opacity: 0;
        }
        .pct {
            width: 100%;
            position: relative;
            height: 100%;
            background: rgba(255, 255, 255, 0.747);
            &:after {
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: #fff;
                position: absolute;
                right: -2px;
                top: -5px;
                opacity: 0;
            }
        }
    }
    &:hover {
        .bar .pct {
            @include themify($themes) {
                background-color: themed('colorHighlight');
            }
            &:after {
                opacity: 1;
            }
        }
    }
}