@import '../../../assets/styles/variables';

.menu {
    padding: 0;
    position: relative;
    a {
        display: block;
        font-weight: bold;
        cursor: pointer;
        font-size: 0.8rem;
        transition: opacity 0.4s ease, transform 0.3s ease;
        will-change: opacity, transform;
        position: relative;
        display: block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        box-sizing: border-box;
        padding: 5px 15px;
        margin: 5px -35px;
        opacity: 0.5;
        &:hover:not(.active) {
            opacity: 1;
            transform: translateX(5px);
        }
        &.active {
            opacity: 1;
            &:before {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 10px;
                content: '';
                display: block;
                @include themify($themes) {
                    background: themed('colorHighlight')
                }
            }
        }
        > .icon-label {
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;
        }
    }
}