.like {
    border: 0;
    background: transparent;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.884);
    font-size: 20px;
    outline: none;
    &.medium {
        font-size: 24px;
    }
    &.biger {
        font-size: 28px;
    }
}